.container{

width: 100%;
min-height: 100vh;
box-sizing: border-box;
overflow: hidden;

}

.content-greetings, .about-me{

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

}

.profile-photo, .computer{

    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.my-picture{

    height: 600px;
    width: 600px;
    border-radius: 600px;

    /*  animation float pfp */
        box-sizing: border-box;
        border: 5px black solid;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;

}

.greetings{

    font-family: Arial;
    text-align: start;
    margin-top: 250px;
    margin-bottom: 250px;

}

.hello{

    width: 280px;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 5px;

}

.greetings-my-name{

    width: 620px;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 5px;

}

.highlighted-skills{

    width: 520px;
    font-weight: 300;
    font-size: 20px;

}

.computer-example{

    height: 600px;
    width: 600px;
    border-radius: 600px;

        box-sizing: border-box;
        border: 5px white solid;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;

}

.about-me{

    background-color: black;
    color: white;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;

}

.about-head{

    margin-top: 250px;
    margin-bottom: 250px;
    width: 100%;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;

}

.skills{

    background-color: black;

}

.about-text{

    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
    line-height: 25px;
    text-align: center;
    width: 60%;
    font-weight: 300;
    font-size: 20px;

}

.skills-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 40px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    background-color: white;

}

.skills-container div{

    height: 210px;
    background-color: grey;

}